.Board {
	background: gold;
	padding: 10px;
	margin-left: 10px;
	margin-right: 10px;
}

.Board-name {
	margin-top: -10px;
	margin-left: -10px;
	margin-right: -10px;
	margin-bottom: 20px;
	padding: 4px 10px;
	background: rgba(0,0,0,0.1);
}